html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    max-width: 1600px;
    margin: auto;
    overflow-x: auto;
}

a {
    text-decoration: none;
    color: rgb(101, 101, 101);
    font-weight: bold;
}

.header {
    padding: 16px 24px;
    height: 64px;
    position: fixed;
    z-index: 20;
    background-color: white;
    width: 100%;
    top: 0px;
}

.logo {
    height: 32px;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
    display: inline-block;
}

nav {
    font-size: 32px;
    display: inline-block;
    padding-right: 24px;
}

nav a {
    padding: 16px;
}

#academy {
    color: gray;
    font-weight: 400;
}

.start {
    background-color: rgb(185, 184, 184);
    margin: auto;
}

.banner {
    padding: 32px 24px;
    width: 60%;
    display: inline-block;
}

.learn {
    text-align: left;
    display: inline-block;
    margin: auto;
}

#button {
    color: white;
    background-color: slategray;
    padding: 8px;
    text-align: center;
}

.testimony {
    margin: auto;
    width: 60%;
    padding: 32px 24px;
    border-right: 1px solid slategray;
    display: inline-block;
    background-color: lightgray;
}

.testimony img {
    max-width: 100%;
}

.readmore {
    padding-top: 32px;
    width: 36.75%;
    float: right;
    display: inline-flex;
    flex-direction: column;
    margin: auto;
    background-color: lightgray;
}

.readmore img {
    width: 35%;
    height: auto;
    display: inline-block;
}

.readmoretext {
    display: inline-block;
    overflow: auto;
}

.readmore div {
    border-top: 1px solid slategray;
    text-align: left;
    max-height: 90%;
    margin: 8px;
    padding-top: 4px;
}

.startlearning {
    max-width: 100%;
    background-color: rgb(185, 184, 184);
}

.majors {
    margin: 32px 72px;
}

.majors a {
    max-width: 30%;
    background-color: white;
    padding-bottom: 24px;
    margin: 32px 32px 0 0;
}

.majors img {
    max-width: 100%;
}

.majors h3 {
    padding: 16px;
    font-weight: bold;
}

.majors p {
    padding: 8px 16px;
    font-weight: 400;
}

.startlearning h2 {
    padding-top: 32px;
    text-align: center;
}

.startlearning div {
    display: flex;
    flex-flow: row wrap;
}

.thesis h3 {
    padding: 32px;
    text-align: center;
}

.reimagine {
    width: 60%;
    margin: 24px;
    text-align: left;
}

.reimagine video {
    max-width: 100%;
}
