html, body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
    margin-left: 24px;
    height: 64px;
    border-bottom: black 2px solid;
}

.logo {
    height: 32px;
    font-size: 32px;
    font-weight: bold;
    text-align: left;
}

.nav {
    text-align: right;
    justify-content: center;
    font-size: 32px;
}

.nav a {
    padding: 16px;
}

#academy {
    color: gray;
    font-weight: 400;
}

.start {
    background-color: lightgrey;
}

.banner {
    padding: 32px 24px;
    width: 60%;
}